body{
    margin: 0%;
    padding: 0%;
    
    font-family: 'Poppins', sans-serif;
}
.display-flex{
    display: flex;
}
.half-width{
    width: 40%;
    margin-left: 10%;
    margin-top: 30px;
    
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 60px;
}
a{
    text-decoration: none;
}
.orange-text{
    color: orange;
}
.yeseva-font{
    font-family: Yeseva One;
    font-weight: normal;
}
.link-btn{
    background-color: tomato;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 100px;
    font-weight: 700;

}

}
#red-border{
    border-left: 5px solid;
    border-image: linear-gradient(tomato, tomato);
    border-image-slice: 1;
    border-radius:10px;
    padding: 0px;
    
}
.margin-bottom{
    margin-bottom: 40px;
}
.margin-top{
    margin-top: 40px;
}
p{
    text-align: justify;
}
.align-center{
    text-align: center;
}
.features{
    width: 20%;
}
.features-width{
    width: 20%;
    margin-left: 10%;
    margin-top: 30px;
}
.features-width img{
    width: 50%;
}
#life-time{
    background-color: #EDF5F7;
    
    
}
#expert{
    background-color: #FEEEEE;
    border-radius: 5px;
}
#online-courses{
    background-color: #FFF4D6;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}
.half-width-for-last{
    width: 60%;
    margin: 10%;
}
.half-width-for-last img{
    width: 100%;
}
h2{
    font-weight: 900;
    font-size: 40px;
}