body{
    margin: 0%;
    padding: 0%;
    
    font-family: 'Poppins', sans-serif;
}
.display-flex{
    display: flex;
}
.half-width{
    width: 40%;
    margin-left: 10%;
    margin-top: 30px;
    
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 60px;
    font-weight: 700;
}
a{
    text-decoration: none;
}
.orange-text{
    color: orange;
}
.yeseva-font{
    font-family: Yeseva One;
    font-weight: normal;
}
.link-btn{
    background-color: tomato;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 100px;
    font-weight: 700;

}

.margin-bottom{
    margin-bottom: 40px;
}
.margin-top{
    margin-top: 40px;
}
p{
    text-align: justify;
}
.align-center{
    text-align: center;
}

.features-width{
    width: 30%;
    margin-left: 30px;
    margin-top: 30px;
}
.features-width img{
    width: 50%;
}
#life-time{
    background-color: #EDF5F7;
    border-radius: 30px;
    padding: 30px;
    margin-right: 200px;
    
    
}
#expert{
    background-color: #FEEEEE;
    border-radius: 30px;
    padding: 30px;
    margin-left: 200px;
}
#online-courses{
    background-color: #FFF4D6;
    border-radius: 30px;
    padding: 30px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}
.half-width-for-last{
    width: 60%;
    margin: 10%;
    margin-top: 100px;
    margin-bottom: 0%;
}
.half-width-for-last img{
    width: 100%;
}
h2{
    font-weight: 900;
    font-size: 40px;
}
#red-border{
    border-left:5px orangered solid;
    padding-left: 10px;
    border-radius: 5px;
}
#develop-skills{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 45px 240px;
}
#join-us{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
   
    background-position: 1140px 345px;
}
.half-width-for-last-sec{
    width: 50%;
}
.half-width-for-last-sec img{
    width: 40%;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 20px;
}
#last-sec{
    background-image: url(./images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 400px 210px;
    
    
}